<!DOCTYPE html>
<html data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>Information Retrieval</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/theme-toggle.js') }}" defer></script>
</head>
<body>
    <div class="content">
        <h1>Information Retrieval system</h1>
        <button
            type="button"
            id="theme-toggle"
            title="Toggle light/dark mode"
            >🌞
        </button>
        <h2>Indexer</h2>
        <form method="POST" action="/indexing">
            <label for="path">Path:</label>
            <input type="text" id="path" name="path" required><br><br>

            <input type="file" id="folderInput" webkitdirectory directory style="display: none;" />

            <button type="button" onclick="document.getElementById('folderInput').click()">Browse Folder</button>

            <label><input type="checkbox" name="recursive"> Include Subfolders</label>
            <label><input type="checkbox" name="replace_filename"> Replace Filename</label><br><br>

            <button type="submit">Index</button>
        </form>

        <script>
            document.getElementById('folderInput').addEventListener('change', function(event) {
            const files = event.target.files;

            if (files.length > 0) {
                const fullPath = files[0].webkitRelativePath;
                const folderPath = fullPath.split('/')[0];  // top folder name
                document.getElementById('path').value = folderPath;
            }
            });
        </script>


        <h2>Search Files</h2>
        <form action="/search" method="get">
            <input type="text" name="query" placeholder="Search..." required>
            <button type="submit">Search</button>
        </form>

        {% if i %}
            <h2>Results:</h2>
            <p>Indexed {{ i }} files</p>
        {% endif %}

        {% if search_results %}
            <h2>Search Results:</h2>
            <ul>
                {% for item in search_results %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>
