<!DOCTYPE html>
<html data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>Information Retrieval</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/theme-toggle.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/popup.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/ajax_data.js') }}" defer></script>
</head>
<body>
    <h1>Information Retrieval system</h1>
    <button
        type="button"
        id="theme-toggle"
        title="Toggle light/dark mode"
        >🌞
    </button>

    <div style="display: flex; justify-content: space-around">
        <div>
            <h2>Indexer</h2>
            <form id="indexForm">
                <label for="path">Path:</label>
                <input type="text" id="path" name="path" required><br><br>

                <label>
                    <input type="checkbox" id="recursive" {% if settings and settings.recursive %}checked{% endif %}>
                    Include Subfolders
                </label>
                <label>
                    <input type="checkbox" id="replace_filename" {% if settings and settings.replace_filename %}checked{% endif %}>
                    Replace Entire Filename
                </label><br><br>

                <button type="submit">Index</button>
            </form>
        </div>

        <div>
            <h2>Search Files</h2>
            <form id="searchForm">
                <input type="text" id="query" name="query" placeholder="Search..." required>
                <button type="submit">Search</button>
            </form>
            <div class="did-you-mean" id="didYouMean">
                <button id="didYouMeanText" onclick="closeDidYouMean()">Did you mean: ""</button>
            </div>
        </div>
    </div>

    <div id="searchResults"></div>

    <!-- Popup structure -->
    <div class="popup-overlay" id="popupOverlay">
        <div class="popup-box">
            <p id="popupMessage">Hello!</p>
            <button onclick="closePopup()">Close</button>
            <button id="yesButton" onclick="closePopup()" style="display: none;">Yes</button>
        </div>
    </div>
</body>
</html>
